#partnership-pictos
  %a.presta-shop{ :href => "/"}
  %a.magento{ :href => "/"}
  %a.shopify{ :href => "/"}
  %a.paypal{ :href => "/"}
  %a.beez-up{ :href => "/"}
  %a.shopping-flux{ :href => "/"}
  %a.lengow{ :href => "/"}
  %a.iziflux{ :href => "/"}
  %a.facebook{ :href => "/"}
  %a.android{ :href => "/"}
  %a.windows-phone{ :href => "/"}                        
  %a.ios{ :href => "/"}            
        
        
