%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %style{:type => "text/css"}
      body{padding:0px;margin:0px;color:#333}
      p {line-height: 16px;padding:0px;margin:0px;margin-top:10px;}
      table {min-width:500px; border-collapse:collapse;}
      table td,th {border:1px solid #DEDEDE;text-align:center;}
      \.without-margin {margin:0px;}
      \#page{background-color:#FFFFFF;min-height:580px;}
      \#header{background-color:#000000;padding:5px;margin:0px;}
      \#title {background-color:#F2F2F2;border-bottom:1px solid #E6E6E6;padding:5px;margin:0px;}
      \#title h1{color:#333333;padding:5px;text-align:center;font-size:24px;}
      \#content{padding: 1px 20px;margin-top:20px;margin-bottom:20px;}
      \#content h2{color:#ff6600; font-size:16px;margin-top:20px;}
      \#content ul{list-style-type:none;margin-bottom:5px;padding:0 20px;}
      \#content ul li span {color:#ff6600}
      \#sign{padding: 1px 20px;font-weight:600;}
      \#footer {background-color:#F2F2F2;border-bottom:1px solid #E6E6E6;text-align:center;padding:5px;margin:0px;}
      \#footer p.noreply {color:#BFBFBF;font-size:10px;}
