%aside#support-block.orange-box
  %h2= t(:need_help, scope: [:views, :support])
  %ul#contact-wording.unstyled
    %li#support-link
      %a{href: "http://support.boosket.com", target: "_blank"}= t(:online_support, scope: [:views, :support])
    %li= t(:contact_hotline_service, scope: [:views, :support])
  %ul#phone-numbers.unstyled
    %li.tel.fr
      %strong 33 892 700 577
      &nbsp;(0,34€/min)
    %li.tel.en
      %strong 44 9073080203
      &nbsp;(0,87£/min)
    %li.tel.us
      %strong 1 888 8088556
      &nbsp;(Toll free)
    %li.tel.de
      %strong 49 900 3355700
      &nbsp;(1,29€/min)
    %li.tel.es
      %strong 34 807 307500
      &nbsp;(1,20€/min)
